{% extends "base.html.twig" %}

{% block body %}
	<div class="row">
		<div class="col">
			<h2>Products</h2>
		</div>
	</div>
	<div class="row">
		{% for product in products %}
			<div class="col-4">
				<img
				src="{{ asset('img/' ~ product.image) }}"
				alt=""
				class="img-fluid">
				<h3>{{ product.name }}</h3>
				<p>{{ product.price | format_currency('EUR', locale='fr') | replace({',00' : ''}) }}</p>
				<p>
					<a href="{{ url('product.details', { id: product.id }) }}"
					class="btn btn-info"
					>Details</a>
				</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}